extends layout

block content 
  body
    div(class="container")
      section(class='index row')
        h1= title
        if authstatus      
            div(class='iText') Welcome #{displayName}
            form(action='/todo/add_list' method= 'post')
              p(class='list')
                label(for='content', class = 'iText') Add Task :
                input(type='text', name ='content')
                |
                |
                button(type='submit' value = 'ADD', class ="btn btn-outline-secondary plus_button")
                  i(class="bi bi-journal-plus")
                  |
                  |
                  font Add
        unless authstatus
            div Welcome to #{title}

      section(class = 'tail row')
        if authstatus      
          each i in toDolists 
            div(class='list')           
                span #{i.content}
                |
                |
                span #{i.date}        
                form(action="/todo/delete_list", method="post" class ='delete')
                  input(type="hidden", name ="id" value=`${i.id}`)
                  input(type="image",src="/images/x_icon.png" value = "delete" class = 'delete_button')
          a(class='btn btn-outline-secondary' href='auth/logout_process') logout
        unless authstatus
          a(class='btn btn-outline-secondary col-sm-12' href='/auth/login') 시작하기
          //- a(class='btn btn-outline-secondary col-sm-6' href='/auth/login') login
          //- |
          //- | 
          //- a(class='btn btn-outline-secondary col-sm-6' href='/auth/register' role="button") register
     
       
   
